name: Deploy to EC2 With Docker Image

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # [중요] -n 옵션 추가하여 데이터 뒤에 줄바꿈이 붙지 않게 함
      - name: Create Resources and Config Files
        run: |
          mkdir -p ./demo/src/main/resources
          echo -n "${{ secrets.PROPERTIES }}" > ./demo/src/main/resources/application.properties
          echo -n "${{ secrets.TOSS_CERT_BASE64 }}" | base64 --decode > ./demo/src/main/resources/toss-cert.p12

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./demo
          file: ./demo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/loveconnect:latest

      - name: Upload docker-compose.yml
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-file
          path: ./demo/docker-compose.yml

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Download docker-compose.yml
        uses: actions/download-artifact@v4
        with:
          name: docker-compose-file
          path: ./

      - name: Upload docker-compose.yml to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "./docker-compose.yml"
          target: /home/${{ secrets.EC2_USERNAME }}/demo

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            cd ~/demo
            # [삭제] EC2에 직접 파일을 생성하던 로직은 삭제합니다. 
            # 이미 Docker 이미지 안에 파일이 포함되어 빌드되었습니다.

            docker-compose down
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/loveconnect:latest
            docker-compose up -d
            docker image prune -a -f
