name: Deploy to EC2 With Docker Image

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Resources and Config Files
        run: |
          # [핵심] demo 폴더 내부에 resources 경로를 강제로 생성
          mkdir -p demo/src/main/resources
          
          # application.properties 생성
          printf "%s" "${{ secrets.PROPERTIES }}" > demo/src/main/resources/application.properties
          
          # 토스 인증서 생성
          echo -n "${{ secrets.TOSS_CERT_BASE64 }}" | base64 --decode > demo/src/main/resources/toss-cert.p12
          
          # 파일이 제대로 들어갔는지 확인 (로그 확인용)
          ls -R demo/src/main/resources

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          # context를 ./demo로 잡으면 Docker는 demo 폴더 안을 루트로 인식합니다.
          context: ./demo
          # context 내부에서의 Dockerfile 위치 지정
          file: ./demo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/loveconnect:latest

      - name: Upload docker-compose.yml
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-file
          path: ./demo/docker-compose.yml
