name: Deploy to EC2 With Docker Image

on:
  workflow_dispatch:  # 수동 실행

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create application.properties
        run: |
          mkdir -p ./demo/src/main/resources
          echo "${{ secrets.PROPERTIES }}" > ./demo/src/main/resources/application.properties

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./demo
          file: ./demo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/loveconnect:latest

      - name: Upload docker-compose.yml
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose.yml
          path: ./demo/docker-compose.yml

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Download docker-compose.yml
        uses: actions/download-artifact@v4
        with:
          name: docker-compose.yml
          path: ./

      - name: Upload docker-compose.yml to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "./docker-compose.yml"
          target: /home/${{ secrets.EC2_USERNAME }}/demo

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            cd ~/demo

            echo "${{ secrets.PROPERTIES }}" > ./src/main/resources/application.properties

            docker-compose down
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/loveconnect:latest
            docker-compose up -d --build
            docker image prune -a -f
